@charset "UTF-8";

@media screen and (min-width: 992px){
    body, html{
        background-image: linear-gradient(to bottom, silver, black);
        
    }
    
    section#login{
        width: 70vw;
    }
    
    div#imagem{
        float: right;
        width: 40%;
        height: 100%;
    }

    div#formulario{
        float: left;
        width: 60%;
    }

    div#formulario, p{
        font-size: 1.3em;
    }
    
    form input[type=submit] {
        margin-top: 5px;
        font-size: 0.8em;
    }

    #ajuda {
        font-size: 0.8em;
    }
}